<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Page</title>
    <link rel="stylesheet" href="/css/verification.css">
</head>
<body>
<div class="container">
    <h2>ВЕРИФИКАЦИОННА <br/>ФОРМА</h2>
    <input type="text" id="verificationCode" placeholder="Въведете вашия верификационен код">
    <button onclick="confirmVerification()">Потвърди</button>
    <button onclick="returnToHomePage()">Връщане към началната страница</button>
    <div id="VerificationMessages"></div>
</div>
<script src="/js/verification.js"></script>
</body>
</html>
